extends layout

block content
  .home.no-sidebar
    section#presentation
      .welcome-video
      .welcome-message
        h2 Payments for Developers
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla est, pharetra sed pharetra quis, rhoncus hendrerit risus. Sed sagittis viverra egestas. Aenean vel dui at tortor gravida tincidunt in id purus. Maecenas eget mauris et libero mollis lobortis a a erat. Cras eu sollicitudin nisl. Donec eu risus at risus faucibus consequat id at quam.
        a(href='javascript:void(0)').white-button View Documentation
    section#core-features
      ul.feature-list
        li
          article
            .feature-image
            h3 Feature
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus pulvinar metus, vitae condimentum nulla tristique eget. In eu felis ut diam aliquet tristique. Maecenas at ante quis turpis sagittis pretium id ac dui. Mauris vitae sem velit. Suspendisse in.
          li
            article
              .feature-image
              h3 Feature
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus pulvinar metus, vitae condimentum nulla tristique eget. In eu felis ut diam aliquet tristique. Maecenas at ante quis turpis sagittis pretium id ac dui. Mauris vitae sem velit. Suspendisse in.
          li
            article
              .feature-image
              h3 Feature
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus pulvinar metus, vitae condimentum nulla tristique eget. In eu felis ut diam aliquet tristique. Maecenas at ante quis turpis sagittis pretium id ac dui. Mauris vitae sem velit. Suspendisse in.
    footer#footer
      nav#footer-nav
        ul
          li: a(href='javascript:void(0)') Footer Link
          li: a(href='javascript:void(0)') Footer Link
          li: a(href='javascript:void(0)') Footer Link
        p.copyrite copyrite 2012