/*Reset CSS to even Playing Ground*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, samp,small, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, le, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-weight: inherit;	font-style: inherit;	font-size: 100%;	font-family: inherit;	vertical-align: baseline;	text-decoration: none;}:focus {	outline: 0;}body {	background: white;	line-height: 1; font-size: 62.5%;}ol, ul {	list-style: none;}table {	border-collapse: separate;	border-spacing: 0;}caption, th, td {	text-align: left;	font-weight: normal;}blockquote:before, blockquote:after,q:before, q:after {	content: "";}blockquote, q {	quotes: "" "";}
body{
	background: black url(i/background.png) center 70px no-repeat;
	text-align: center;
	color: white;
	font-family: arial,sans-serif;
}
#container{
    width: 1100px;
    min-height: 200px;
    margin: 0 auto;
    padding-top: 16px;
}

#tabs{
    float: right
}
#tabs li{
    float: left;
    border-top: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    border-left: 2px solid #4d4d4d;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px; 
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    background-color: black;
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
    margin-left: 6px;
}

#tabs li a{
    color: #999999;
    font-size: 1.2em;
    font-weight: bold;
}
#tabs li.active{
    background-color: #4d4d4d;
}
#tabs li.active a, #tabs li:hover a, #tabs li.hover a{
    color: white;
}
#gnav{
    height: 54px;
    width: 1100px;
    clear: both;
    background: url(i/gnav.gif) top left repeat-x;
    z-index: 5;
}
#logo{
    float: left;
    margin-right: 20px;
}
#gnav div{
    float: right;
    line-height: 48px;
    height: 54px;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
}
#gnav div img{
    vertical-align: middle;
    margin: 0 10px;
}
#gnav ul{
    float: left;
    height: 54px;
    z-index: 6;
}
#gnav ul li{
    float: left;
    margin: 0 14px; 
    padding: 0 2px;
    line-height: 48px;
    height: 54px;
    position: relative;
    z-index: 7;
}
#gnav ul li a{
    color: #999999;
    font-size: 1.6em;
}
#gnav ul li.active a, #gnav ul li:hover a, #gnav ul li.hover a{
    color: white;
}
#gnav ul li.active, #gnav ul li:hover, #gnav ul li.hover{
    border-bottom: 6px solid black; 
    height: 48px;
}
#gnav ul ul{
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 10;
    float: none;
    background: url(i/dropdown.jpg) top left no-repeat #4d4d4d;
    height: auto;
    width: 175px;
    display: none;
    padding: 3px 0 0 0;
}
#gnav ul li:hover ul,#gnav ul li.hover ul{
    display: block;
}
#gnav ul ul li{
    float: none;
    display: block;
    margin: 0; 
    padding: 5px 24px;
    line-height: 16px;
    height: auto;
    position: relative;
    text-align: left;
    border-top: 1px solid #787878;
}

.IE #gnav ul ul li{
    border-top: 2px solid #787878;
}
#gnav ul ul li:first-child{
    border-top-width: 0;
}
#gnav ul ul li.active, #gnav ul ul li:hover, #gnav ul ul li.hover{
    border-bottom-width: 0; 
    height: auto;
}
#gnav ul li.active li a, #gnav ul li:hover li a, #gnav ul li.hover li a{
    color: #bfbfbf;
}
#gnav ul ul li a{
    color: #bfbfbf;
    font-size: 1.2em;
}
#gnav ul ul li:hover,#gnav ul ul li.hover{
    background-color: #262626;
}
#gnav ul ul li:hover a,#gnav ul ul li.hover a{
    color: white;
}
#slideshow{
    height: 416px;
    width: 1100px;
    position: relative;
    overflow: hidden;
    z-index: 4;
    background-color: black;
}
#slideshow .slide{
    position: absolute;
    height: 416px;
    width: 1100px;
    top: 0;
    left: 0;
}
#slideshow #buttons{
    position: absolute;
    bottom: 20px;
    right: 100px;
}
#slideshow #buttons div{
    -moz-border-radius: 8px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 8px;
    width: 8px;
    background-color: #4d4d4d;
    float: left;
    margin-left:10px; 
    cursor: pointer;
}
#slideshow #buttons div.showing{
    background-color: white;
}
.IE #slideshow #buttons div{
    background:transparent url(i/bullet-g.png) top left no-repeat;
}
.IE6 #slideshow #buttons div{
    background:transparent url(i/bullet-g.gif) top left no-repeat;
}
.IE #slideshow #buttons div.showing{
    background:transparent url(i/bullet-w.png) top left no-repeat;
}
.IE6 #slideshow #buttons div.showing{
    background:transparent url(i/bullet-w.gif) top left no-repeat;
}
#content{
    min-height: 180px;
    background: #404040 url(i/content.gif) top left repeat-x;
    border-bottom: 4px solid #00a3e4;
    
}
.IE6 #content{
    height: 180px;

}
#c{
    width: 410px;
    padding: 25px 60px;
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    float: left;
    color: #A6A6A6;r
}
#c b{
    color: #DDD;
}
#divider{
    float: left;
}
#slider{
    float: left;
    position: relative;
    width: 550px;
}
#slider .a{
    position: absolute;
    top: 85px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
#slider #l{
    left: 20px;
}
#slider #r{
    right: 20px;
}
#b{
    width: 400px;
    position: absolute;
    top: 10px;
    left: 80px;
    height: 180px;
    overflow: hidden;
}
.frame{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
}
.frame img{
    float: left;
    margin: 20px 0 0 0;
}
.frame div{
    float: left;
    width: 166px;
    margin: 20px 0 0 40px;
    text-align: left;
}
.frame h4{
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 0 6px 0;
}
.frame p{
    line-height: 1.3em;
    font-size: 1.2em;
    color: #a6a6a6;
}
.frame h5{
    line-height: 3em;
    font-size: 1.2em;
    color: #ffdd00;
}
.frame h5 a{
    color: white;
    font-weight: bold;
}
#foot{
    padding: 40px 0 60px 60px;
    text-align: left;
    position: relative;
    zoom:1;
}

#ctp{
    height: 560px;
    position: relative;
    background: black url(i/ctp.jpg) top left no-repeat;
    border-bottom: 4px solid #00a3e4;
}
#cp{
    top: 115px;
    left: 57px;
    position: absolute;
    width: 445px;
    color: #a7cf88;
    font-size: 1.6em;
    text-align: left;
    line-height: 1.5em;
}
#btn{
    position: absolute;
    top: 35px;
    left: 584px;
}
#btn img{
    display: block;
}


#strategic{
    background: black url(i/strategic-bg.jpg) top left no-repeat;
    height: 416px;
    overflow: hidden;
    position: relative;
    width: 1100px;
    z-index: 4;
}
#strategic div.cont {
    font-size: 1.5em;
    left: 60px;
    line-height: 1.3em;
    position: absolute;
    text-align: left;
    top: 220px;
    width: 625px;
}
#strategic p{
    margin: 0 0 1em 0;
}

#foot{
    padding: 40px 0 60px 60px;
    text-align: left;
    position: relative;
    clear: both;
    zoom:1;
}
#foot div{
    float: left;
    padding: 0 37px 0 0;
}
#foot div h6{
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: bold;
}
#foot div p{
    font-size: 1.2em;
    color: #999999;
    line-height: 1.3em;
}
#foot div p a{
    color: #999999;
}
#foot div p a:hover{
    color: white;
}
#foot h5{
    height: 30px;
    line-height: 30px;
    background-color: black;
    font-size: 1.6em;
    padding: 0 15px;
    width: 145px;
    position: absolute;
    top: 7px;
    left: 30px;
    font-weight: bold;
}
#foot h5 span{
    color: #ffdd00;
}
#foot #footbot{
    float: none; 
    clear: both;
    padding: 30px 0 0 0;
    line-height: 1.4em;
    color: #999999;
}
#foot p.tag{
    font-weight: bold;
    font-style:italic;
    color:white;
    margin-bottom: 0.3em;
    margin-top: 0;
}

#social{
    color: #A6A6A6;
    font-size: 12px;
    padding: 10px 0;
    overflow: auto;
    margin-top:2em;
}
#social>span.sha{
    float: left;
    margin-right: 25px;
    line-height: 21px;
}
#share,#share .button,.IN-widget,#print{
    display: block;
    float: left;
    margin-right: 10px;
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
}
#print{
    margin-left: 10px;
}
#share .fb_edge_widget_with_comment span.fb_edge_comment_widget{
    display: none;
}
#share .fb_edge_widget_with_comment{
    overflow:hidden !important;
}
#share .twitter iframe{
    width: 200px !important;
}


@import url("http://fonts.googleapis.com/css?family=Lato:400,900");

#content{
    text-align: left;
    color: white;
    font-size: 1.5em;
    padding: 0 40px;
    background: #2d2c2a;
    line-height: 1.4em;
}

h1{
    color: white;
    font-size: 2.3em;
    margin: 1em 0;
    font-weight: bold;
    line-height: 1.5em;
    clear: both;
}
h2{
    color: white;
    font-size: 1.6em;
    margin: 1.5em 0;
    font-weight: bold;
    line-height: 1.5em;
}
p{
    color: white;
    font-size: 1.1em;
    margin: 0.5em 0;
}

#head{
    margin-left: 245px;
    padding-top: 20px;
}
.buttons {
  height: 109px;
  width: 367px; 
  background: #403f3d;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 7px 0;
  -webkit-box-shadow: inset 1px -1px 0px 0px #393a34;
  box-shadow: inset 1px -1px 0px 0px #393a34;
  line-height: 1.3em;
  overflow: hidden;
  color: #A6A6A6;
}
.buttons img{
    float: left;
    margin: 12px 10px 12px 6px;
}
div.blu{
    font-size: 1.4em;
    color: #3bc6f1;
    margin: 5px 0;
}

.buttons.left{
    float: left;
}
.buttons.right{
    float: right;
}
.buttons.last{
    margin-bottom: 40px;
}
pre,
table,
.url{
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background: #403f3d;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em 0;
}
pre,
table{
  -webkit-box-shadow: inset 1px -1px 0px 0px #393a34;
  box-shadow: inset 1px -1px 0px 0px #393a34;
}
table {
  width: 100%;
  font: 1em/1.3125em Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 5em 0;
}
table tr th,
table tr td {
  padding: 0.5em;
  border-bottom: 1px solid #55544a;
  border-right: 1px solid #55544a;
}
table tr td {
  font-size: 0.75em;
  font-weight: normal;
  color: #b0b193;
}
table tr:last-child > td {
  border-bottom: none;
}
table tr td:last-child,
table tr th:last-child {
  border-right: none;
}
.article pre {
  overflow-x: auto;
}
.article pre ol.line-numbers {
  counter-reset: li;
  margin: 0;
}
.article pre ol.line-numbers li {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 2em;
}
.article pre ol.line-numbers li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: -2.5em;
  width: 2em;
  background: rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.25em;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.article pre ol.line-numbers li:first-child:before {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.article pre ol.line-numbers li:last-child:before {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.article pre .method ol.line-numbers li:before {
  display: none;
}
.article pre code .comment {
  color: #839496;
}
.article pre code .init {
  color: #ffea00;
}
.article pre code .string {
  color: #5a8dfa;
}
.article pre code .string span {
  color: #5a8dfa;
}
.article pre code .keyword {
  color: #d61103;
}
.article pre code .number {
  color: #009282;
}
.article pre code .placeholder {
  color: #888;
}
.article pre code .method.GET {
  color: #009282;
}
.article pre code .method.POST {
  color: #5a8dfa;
}
.article pre code .method.PUT {
  color: #ffea00;
}
.article pre code .method.DELETE {
  color: #cb4b16;
}
dl {
  padding-left: 5px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  padding-left: 15px;
  padding-bottom: 5px;
  font-style: italic;
}
.url .method {
  display: inline-block;
  padding: 0.25em;
}
#header {
  padding: 2em 0;
}
#header h1 {
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 92px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../images/logo_white.png") left top no-repeat;
}
#header #navigation {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 2em;
}
#header #navigation ul {
  display: inline-block;
  float: right;
}
#header #navigation ul li {
  display: inline-block;
  margin: 0 1em;
}
#main {
  padding: 2.5em 0;
  padding-left: 245px;
  position: relative;
}
#main .no-sidebar {
  margin-left: -33%;
}
#main #presentation {
  padding: 16px;
  height: 22em;
  background: rgba(255,255,255,0.2);
  margin-bottom: 16px;
}
#main #presentation .welcome-video {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100% !important;
  background: #000;
}
#main #presentation .welcome-message {
  display: inline-block;
  float: right;
  padding: 0 16px;
  width: 50%;
  height: 100% !important;
}
#main #presentation .welcome-message h2,
#main #presentation .welcome-message p {
  margin: 0 0 16px 0;
  color: #fff;
}
#main #presentation .welcome-message h2 {
  font-weight: bold;
}
#main #presentation .welcome-message p {
  font-weight: normal;
}
#main #presentation .welcome-message .white-button {
  display: block;
  padding: 0.5em;
  width: 12em;
  font-size: 0.75em;
  text-align: center;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0px 0px #000;
  box-shadow: 4px 4px 0px 0px #000;
}
#main #introduction ul.introduction-material {
  margin-left: 4.5em;
}
#main #introduction ul.introduction-material li {
  list-style: none;
}
#main #introduction ul.introduction-material li .article.intro-element h3 {
  position: relative;
}
#main #introduction ul.introduction-material li .article.intro-element h3::before {
  display: block;
  content: '';
  position: absolute;
  top: -0.5em;
  left: -3em;
  height: 4em;
  width: 4em;
}
#main #introduction ul.introduction-material li .article.intro-element h3.id::before {
  background: url("../../images/icon_card.png") no-repeat;
}
#main #introduction ul.introduction-material li .article.intro-element h3.gear::before {
  background: url("../../images/icon_gears.png") no-repeat;
}
#main #introduction ul.introduction-material li .article.intro-element h3.puzzle::before {
  background: url("../../images/icon_puzzle.png") no-repeat;
}
#main #core-features .feature-list > li {
  display: inline-block;
  padding: 16px;
  float: left;
  width: 33.3333%;
}
#main #core-features .feature-list > li .article .feature-image {
  height: 256px;
  background: #d0d0d0;
}
#main #core-features .feature-list > li .article h3,
#main #core-features .feature-list > li .article p {
  margin: 16px 0;
}
#main #core-features .feature-list > li:first-child {
  padding-left: 0;
}
#main #core-features .feature-list > li:last-child {
  padding-right: 0;
}
#main #sidebar {
  position: absolute;
  left: 0;
  top: 2.5em;
  width: 205px;
  line-height: 1.2em;
}
/*#main #sidebar.fixed {
    position: fixed;
    top: 16px;
    left: 50%;
    width: 205px;
    margin-left: -510px;
    margin-top: 10px;
}*/
#main #sidebar > ul > li {
  margin-bottom: 1em;
}
#main #sidebar > ul > li > a {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5em;
}
#main #sidebar > ul > li  a{
  color: white;

}
#main #sidebar > ul > li  a:hover{
  color: #A6A6A6;

}
/*#main #sidebar > ul > li.active > a {
  background: #ffea00;
  color: #282224;
}*/
#main #sidebar > ul > li > ul.sub-menu {
  padding-left: 1.25em;
}
#main #sidebar > ul > li > ul.sub-menu > li > a {
  position: relative;
  font-size: 0.85em;
  color: #d2d2d2;
}
#main #sidebar > ul > li > ul.sub-menu > li > a:after {
  content: '';
  display: block;
  position: absolute;
  background: #ffea00;
  height: 100% !important;
  width: 0.4em;
  top: 0;
  left: -20px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  transition-property: left, opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#main #sidebar > ul > li > ul.sub-menu > li.active > a:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  left: -20px;
}
#footer {
  clear: both;
  padding: 16px 0;
  border-top: 1px solid #ffea00;
}
#footer #footer-nav ul {
  clear: both;
}
#footer #footer-nav ul li {
  display: inline-block;
  float: left;
  padding: 8px;
}
#footer #footer-nav ul li:first-child {
  padding-left: 0;
}
#footer #footer-nav ul li a {
  font-size: 0.75em;
}
#footer #footer-nav p.copyrite {
  padding: 8px 0;
  display: inline-block;
  float: right;
  font-size: 0.75em;
}
#introduction > h1 {
  margin-top: 0;
}
.article h1 {
  text-transform: uppercase;
}
.article p,
.article ul,
.article ol {
  margin-bottom: 1em;
}
.article ul,
.article ol {
  margin-left: 20px;
}
.article ul li,
.article ol li {
  margin-bottom: 0.25em;
}
.article ul li {
  list-style-type: disc;
}
.article ol li {
  list-style-type: decimal;
}
#modal-dialogue {
  display: hidden;
  position: relative;
  padding: 1.5em;
  background: #262626;
  -webkit-box-shadow: 0px 0px 32px 0px #000, inset 0px 1px 0px 0px #393a34;
  box-shadow: 0px 0px 32px 0px #000, inset 0px 1px 0px 0px #393a34;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  width: 50%;
}
#modal-dialogue a.close {
  display: block;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1em;
  width: 1em;
  background: url("../../images/modal-close.png") no-repeat;
  text-indent: -99999px;
}
#modal-dialogue a.go {
  position: relative;
}
#modal-dialogue a.go::after {
  display: block;
  position: absolute;
  content: '';
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid #ffea00;
  top: 0.2em;
  right: -1em;
}
